.search-ad-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.search-ad-banner img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
  border-radius: 8px;
}
